@model Sistema_de_Ventas.Models.tbCompras

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbCompras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.compraFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compraFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compraFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compraFechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compraFechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compraFechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compraEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compraEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usuarioUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usuarioUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usuarioUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usuarioUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbProveedores.proveedorNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbProveedores.proveedorNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.compraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
