@model IEnumerable<Sistema_de_Ventas.Models.tbUsuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<p>
    <button class="btn btn-primary" id="btn-Insert" onclick="InsertarModal()">Nuevo</button>
</p>
<table class="table table-striped" id="tabla">
    <thead style="background-color:black; color:white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuarioUsuario)
            </th>

            <th>
                Empleado
            </th>

            <th> Aciones</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usuarioUsuario)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tbEmpleados2.empleadoNombre)
                </td>

                <td>
                    <button type="button" id="btnEditar" class="btn btn-warning" onclick="editarUsuarios(@item.usuarioId)">Editar</button>|

                    @Html.ActionLink("Detalles", "Details", new { id = item.usuarioId }, new { @class = "btn btn-success" }) |
                    <button class="btn-delete btn btn-danger" data-id=@item.usuarioId>Eliminar</button>
                </td>
            </tr>
        </tbody>
    }

</table>

<form>
    <div class="modal fade" id="editarUsuarios" tabindex="-1" role="dialog" aria-labelledby="editarUsuariosLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm-delete-modal-label">Crear Usuarios</h5>
                    <span aria-hidden="true">&times;</span>
                </div>

                <div class="modal-body">


                    <input type="text" placeholder="ID" name="usuarioId" id="usuarioId" required />

                    <input type="text" placeholder="USUARIO" name="usuarioUsuario" id="usuarioUsuario" class="form-control" required />
                    <br />
                    <label style="color:red" id="VUsuario">Este campo es requerido</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="btn-Enviar" name="btn-Enviar" class="btn btn-success" onclick="enviarEdit(usuarioId.value)">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-delete-modal-label">Confirmar eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar este elemento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a href="#" id="btn-confirm-delete" class="btn btn-danger" onclick="DeleteModal()">Eliminar</a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Create", new Sistema_de_Ventas.Models.tbUsuarios())

<script type="text/javascript">
    function DeleteModal() {
        $('#confirm-delete-modal').modal({ backdrop: 'static', keyboard: false })
    }
</script>

<script>
    $(function () {
        $('.btn-delete').click(function () {
            var id = $(this).data('id');
            $('#btn-confirm-delete').attr('href', '/Usuarios/Delete/' + id);
            $('#confirm-delete-modal').modal('show');
        });
    });
</script>

<script src="~/content/dist/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#tabla").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.2/i18n/es-MX.json'
            }
        });
    });
</script>

<script>
    $("#btn-Insert").click(function () {
        $('#confirm-Insert-modal').modal('show');
    });
</script>

<script type="text/javascript">
    function InsertarModal() {
        $('#confirm-Insert-modal').modal({ backdrop: 'static', keyboard: false })
    }
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Usuarios/CargarEmpleado",
            success: function (data) {
                console.log(data);
                var ddlempleados = $("#empleadoId");
                ddlempleados.empty();
                $.each(data, function (index, item) {
                    ddlempleados.append("<option value='0'> Seleccione una opcion </opcion>");
                    ddlempleados.append($("<option />").val(item.empleadoId).text(item.empleadoNombre));
                });
            }
        });
    });
</script>

<script>
    $("#VUsuario").hide();
    $("#usuarioId").hide();
</script>

<script>
    function editarUsuarios(id) {

        $.ajax({
            url: "/Usuarios/CargarModal",
            method: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: id }),
            success: function (data) {
                $("#usuarioId").empty();
                $("#usuarioUsuario").empty();
                console.log(usuarioId);
                console.log(data);
                $.each(data, function (i, value) {
                    $("#usuarioId").val(value.usuarioId)
                    $("#usuarioUsuario").val(value.usuarioUsuario)
                })
                $("#editarUsuarios").modal('show');
            }
        })
    }
</script>

<script>
    function enviarEdit(id) {
        console.log(id);
        var nom = $("#usuarioUsuario").val();
        if (nom != "") {
            window.location = '/Usuarios/Edit/' + id + "?usuarioUsuario=" + nom;
            $('#editarUsuarios').modal('hide');
            
        }
        else {
            $("#VUsuario").show();
        }
    }

</script>