@model Sistema_de_Ventas.Models.tbDepartamentos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-monospace">EDITAR</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-md-center">Departamentos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.departamentoId)

        <div class="form-group">
            @Html.LabelFor(model => model.departamentoNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.departamentoNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.departamentoNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.departamentoFechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.departamentoFechaCreacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.departamentoFechaCreacion, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.departamentoUsuarioCreacion, "departamentoUsuarioCreacion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("departamentoUsuarioCreacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.departamentoUsuarioCreacion, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.departamentoFechaModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.departamentoFechaModificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.departamentoFechaModificacion, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.departamentoUsuarioModificacion, "Usuario Modificacion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("departamentoUsuarioModificacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.departamentoUsuarioModificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.departamentoEstado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.departamentoEstado)
                    @Html.ValidationMessageFor(model => model.departamentoEstado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        <div class="form-group">
            <div class="row">
                <label>ㅤ</label>
                <div class="col-md-1">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}
