@model Sistema_de_Ventas.Models.tbEstadosCiviles

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-monospace">Borrar</h2>

<h3>Seguro que desea borrar el Estado Civil?</h3>
<div>
    <h4 class="text-md-center">Estados Civiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estadoCivilNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoCivilNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoCivilFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoCivilFechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoCivilFechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoCivilFechaModificacion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.estadoCivilEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoCivilEstado)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usuarioUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usuarioUsuario)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usuarioUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usuarioUsuario)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index", new { @class = "btn btn-default"})
        </div>
    }
</div>
