@model Sistema_de_Ventas.Models.tbventa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbventa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ventaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventaFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventaFechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventaFechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventaFechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventaEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventaEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbClientes.clienteNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbClientes.clienteNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados.empleadoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados.empleadoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbMetodoPago.metodopagoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbMetodoPago.metodopagoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usuarioUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usuarioUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usuarioUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usuarioUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
