@model Sistema_de_Ventas.Models.tbEmpleados

@{
    ViewBag.Title = "Create"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-monospace">CREAR</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-md-center">Empleados</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.empleadoNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empleadoNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empleadoNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoApellido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empleadoApellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empleadoApellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoSexo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empleadoSexo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empleadoSexo, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.municipioId, "municipioId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("municipioId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.municipioId, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @*<div class="form-group">
            <label for="departamentoId">Departamento</label>
            <div class="col-md-10">
                 @Html.DropDownList("departamentoNombre", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>*@


        <div class="form-group">
            @Html.LabelFor(model => model.municipioId, "Municipio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<select id="municipioId" name="municipioId" class="form-control">
                </select>*@
                @Html.DropDownList("municipioId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.municipioId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoDireccionExacta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empleadoDireccionExacta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empleadoDireccionExacta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estadoCivilId, "estadoCivilId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("estadoCivilId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estadoCivilId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoTelefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empleadoTelefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empleadoTelefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoCorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empleadoCorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empleadoCorreoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoFechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empleadoFechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empleadoFechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoFechaContratacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empleadoFechaContratacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empleadoFechaContratacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cargoId, "cargoId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cargoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cargoId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.empleadoFechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.empleadoFechaCreacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.empleadoFechaCreacion, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoUsuarioCreacion, "empleadoUsuarioCreacion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("empleadoUsuarioCreacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.empleadoUsuarioCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.empleadoFechaModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.empleadoFechaModificacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.empleadoFechaModificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.empleadoUsuarioModificacion, "empleadoUsuarioModificacion", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("empleadoUsuarioModificacion", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.empleadoUsuarioModificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.empleadoEstado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.empleadoEstado)
                        @Html.ValidationMessageFor(model => model.empleadoEstado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            <div class="row">
                <label>ㅤ</label>
                <div class="col-md-1">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $("#departamentoId").change(function () {
        var departamentoId = $("#departamentoId").val();
        $.ajax({
            url: "/Empleados/CargarMunicipio/",
            method: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ departamentoId: departamentoId }),
            success: function (data) {
                console.log(data);
                $("#municipioId").empty();
                $("#municipioId").append("<option value='0'> Seleccione una opcion </opcion>");
                $.each(data, function (i, value) {
                    $("#municipioId").append("<option value ='" + value.municipioId + "' >" + value.municipioNombre + "</option>")
                })

            }
        })

    })
</script>