@model Sistema_de_Ventas.Models.tbCargos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-monospace">CREAR CARGO</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <h4 class="text-md-center">Cargos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cargoNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cargoNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cargoNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.cargoFechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cargoFechaCreacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cargoFechaCreacion, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.cargoUsuarioCreacion, "Usuario Creación", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cargoUsuarioCreacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cargoUsuarioCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.cargoFechaModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cargoFechaModificacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cargoFechaModificacion, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.cargoUsuarioModificacion, "cargoUsuarioModificacion", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("cargoUsuarioModificacion", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.cargoUsuarioModificacion, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.cargoEstado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.cargoEstado)
                        @Html.ValidationMessageFor(model => model.cargoEstado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            <div class="row">
                <label>ㅤ</label>
                <div class="col-md-1">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

