@model Sistema_de_Ventas.Models.tbClientes

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Clientes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.clienteNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clienteNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clienteNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clienteApellido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clienteApellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clienteApellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="departamentoId">Departamento</label>
            <div class="col-md-10">
                @Html.DropDownList("departamentoId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.municipioId, "Municipio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="municipioId" name="municipioId" class="form-control">
                </select>

                @Html.ValidationMessageFor(model => model.municipioId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clienteDireccionExacta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clienteDireccionExacta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clienteDireccionExacta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clienteTelefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clienteTelefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clienteTelefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clienteCorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clienteCorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clienteCorreoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>











        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $("#departamentoId").change(function () {
        var departamentoId = $("#departamentoId").val();
        $.ajax({
            url: "/Proveedores/CargarMunicipio/",
            method: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ departamentoId: departamentoId}),
            success: function (data) {
                console.log(data);
                $("#municipioId").empty();
                $("#municipioId").append("<option value='0'> Seleccione una opcion </opcion>");
                $.each(data, function (i, value) {
                    $("#municipioId").append("<option value ='" + value.municipioId + "' >" + value.municipioNombre + "</option>")
                })

            }
        })

    })
</script>
